= extends "layout.html"
= set active_page = "country_information"

= block title
Country Information
= endblock

= block head
<link rel="stylesheet" href="/static/css/typeahead.css">
<script type="text/javascript">
	const numberWithCommas = (x) => {
    	return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>
= endblock



= block content
<div class="container">
	<div class="jumbotron text-center">
  	 <h1>Country Information</h1>
	  <form action="/country_information" method="GET">
	  	<div class="form-group">
	  		<label class="col-form-label" for="country">Country</label>
	  		<div id="countries" class="scrollable-dropdown-menu">
	  			<input class="form-control typeahead" type="text" name="country" value="{{ country }}" placeholder="Country">
	  		</div>
	  	</div>
	  	<button class="btn btn-primary">Search</button>
	  </form>
	</div>
  <div class="container">
  	<div class="row">
	  	<table class="table table-striped">


	    	<thead>
	          <tr>
	            <th>Country</th>
	            <th>Continent</th>
	            <th>Land Area (km^2)</th>
	            <th>Border Length (km)</th>
	          </tr>
	        </thead>
	        <tbody>
	            {% for record in records: %}

	                <tr>
	                    <td>{{ record[0] }}</td>
	                    <td>{{ record[1] }}</td>
	                    <td>{{ record[2] }}</td>
	                    <td>{{ record[3] }}</td>
	                </tr>

	            {% endfor %}
	        </tbody>


	    </table>
	  </div>
  </div>
</div>
	  
= endblock


= block footer
<script src="/static/js/typeahead.bundle.js"></script>


<script type="text/javascript">
	
	var substringMatcher = function(strs) {
	  return function findMatches(q, cb) {
	    var matches, substringRegex;

	    // an array that will be populated with substring matches
	    matches = [];
	    console.log('here');

	    // regex used to determine if a string contains the substring `q`
	    substrRegex = new RegExp(q, 'i');

	    // iterate through the pool of strings and for any string that
	    // contains the substring `q`, add it to the `matches` array
	    $.each(strs, function(i, str) {
	      if (substrRegex.test(str)) {
	        matches.push(str);
	      }
	    });

	    cb(matches);
	  };
	};
	var countries = ['Algeria', 'Angola', 'Argentina', 'Australia', 'Austria', 'Belgium', 'Bolivia', 'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cameroon', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Democratic Republic of the Congo', 'Denmark', 'Ecuador', 'Egypt', 'El Salvador', 'France', 'Germany', 'Ghana', 'Greece', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Kuwait', 'Mexico', 'Morocco', 'Netherlands', 'New Zealand', 'Nigeria', 'North Korea', 'Norway', 'Panama', 'Paraguay', 'Peru', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Saudi Arabia', 'Senegal', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine', 'United Arab Emirates', 'United States', 'Uruguay'];

	$('#countries .typeahead').typeahead(null, {
	  name: 'countries',
	  limit: 100,
	  source: substringMatcher(countries)
	});


</script>
= endblock