= extends "layout.html"
= set active_page = "home"

= block title
World Map
= endblock

= block head
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
= endblock

= block content
<div id="regions_div" style="width: 900px; height: 500px;"></div>
<p id="demo"></p>
<button id="Population" type="button">Population</button>
<button id="GDP" type="button">GDP</button>
<script type="text/javascript">
  google.charts.load('current', {
    'packages':['geochart'],
    // Note: you will need to get a mapsApiKey for your project.
    // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
    'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
  });
  google.charts.setOnLoadCallback(drawRegionsMap);

  type = "Population"

  function drawRegionsMap() {
    var data = google.visualization.arrayToDataTable([
      ['Country', 'Popularity'],
      ['Germany', 200],
      ['United States', 300],
      ['Brazil', 400],
      ['Canada', 500],
      ['France', 600],
      ['Russia', 700]
    ]);

    var data2 = google.visualization.arrayToDataTable([
      ['Country', 'Popularity'],
      ['Germany', 200],
      ['United States', 1000],
      ['Brazil', 400],
      ['Canada', 500],
      ['France', 600],
      ['Russia', 100]
    ]);

    var options = {};

    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

    switch(type) {
      case "Population":
        chart.draw(data, options);
        break;
      case "GDP":
        chart.draw(data2, options);
        break;
      default:
        chart.draw(data2, options);
    }

    // Handling Country Selection
    google.visualization.events.addListener(chart, 'select', function () {
        var selection = chart.getSelection()[0];
        if (selection) {
          var country = data.getValue(selection.row, 0);
          //alert(country)
          displayCountryData(country);
        }
      })
  
  }

  function displayCountryData(country) {
    document.getElementById("demo").innerHTML = country;

  }

  // Handling Button Clicks
  m1Button = document.getElementById("Population")
  m2Button = document.getElementById("GDP")

  m1Button .addEventListener("click", drawPop);
  function drawPop() {
    m1Button .innerHTML = "**Population**";
    m2Button.innerHTML = "GDP";

    type = "Population"
    drawRegionsMap()
  }

  m2Button.addEventListener("click", drawMetric2);

  function drawMetric2() {
    m2Button.innerHTML = "**GDP**";
    m1Button.innerHTML = "Population";
    type = "GDP"
    drawRegionsMap()
  }
</script>
<button type="button" class="btn btn-primary" id="testbutton">Test Button</button>

<div id="graphmodal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
                <h5 id="graph-header" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
      <div id="graphdiv" style="width: 100%">
          <canvas id="graphcanvas"></canvas>
      </div>
      <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    </div>
  </div>
</div>
= endblock

= block footer
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script>
<style>
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
</style>
<script>
$(document).ready(function () {
    window.getGraphData = function (country){
        $.getJSON("/getgraphdata", {country: country}, function(data){
            var chartData = {
                labels: data['years'],
                datasets: [
                {
                    type: 'line',
                    label: 'Per Capita GDP',
                    yAxisID: "y-axis-1",
                    borderColor: window.chartColors.blue,
                    fill: false,
                    borderWidth: 2,
                    data: data['per_capita_gdp']
                },
                {
                    type: 'line',
                    label: 'Population',
                    yAxisID: "y-axis-2",
                    borderColor: window.chartColors.green,
                    fill: false,
                    borderWidth: 2,
                    data: data['population']
                },
                {
                    type: 'line',
                    label: 'Life Expectency',
                    yAxisID: "y-axis-3",
                    borderColor: window.chartColors.orange,
                    fill: false,
                    borderWidth: 2,
                    data: data['life_expectency']
                },
                {
                    type: 'bar',
                    label: 'Wins',
                    yAxisID: "y-axis-4",
                    backgroundColor: window.chartColors.red,
                    data: data['wins'],
                    borderColor: 'white',
                    borderWidth: 2
                },]
            };
            $("#graphcanvas" ).remove();
            $("#graphdiv").append('<canvas id="graphcanvas"></canvas>');
            $("#graph-header").text(data["country"] + " World Cup Success by Year vs Country Data");
            var ctx = document.getElementById("graphcanvas").getContext("2d");
            window.myMixedChart = new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: {
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Chart.js Combo Bar Line Chart'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true
                    },
                    scales: {
                        yAxes: [ {
                            type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: "right",
                            id: "y-axis-1",

                            // grid line settings
                            gridLines: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Per Capita GDP'
                            },
                            ticks: {
                                // Include a dollar sign in the ticks
                                callback: function(value, index, values) {
                                    var parts = value.toString().split(".");
                                    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                    return '$' + parts.join(".");
                                }
                            }
                        }, {
                            type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: "right",
                            id: "y-axis-2",

                            // grid line settings
                            gridLines: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Population'
                            },
                            ticks: {
                                // Include a dollar sign in the ticks
                                callback: function(value, index, values) {
                                    var parts = value.toString().split(".");
                                    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                    return parts.join(".");
                                }
                            }
                        },{
                            type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                            display: true,
                            position: "right",
                            id: "y-axis-3",
                            scaleLabel: {
                                display: true,
                                labelString: 'Life Expectency'
                            }
                        }, {
                            type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                            display: true,
                            position: "left",
                            id: "y-axis-4",
                            scaleLabel: {
                                display: true,
                                labelString: 'World Cup Wins'
                            }
                        },],
                    },
                    legend: {
                        onClick: function(event, legendItem) {
                            //get the index of the clicked legend
                            var index = legendItem.datasetIndex;
                            //toggle chosen dataset's visibility
                            window.myMixedChart.data.datasets[index].hidden = 
                                !window.myMixedChart.data.datasets[index].hidden;
                            //toggle the related labels' visibility
                            window.myMixedChart.options.scales.yAxes[index].display =                 
                                !window.myMixedChart.options.scales.yAxes[index].display;
                            window.myMixedChart.update();
                        }
                    }
                }
                });
                $('#graphmodal').modal('show'); 
            });
        }
        $("#testbutton").click(function() {
            getGraphData("France");
        });
});
</script>
= endblock